genome	/rhome/cjinfeng/BigData/00.RD/Annotation/HEG4/Maker/bin/HEG4_allpathlgv1/HEG4_allpathlgv1.reorder.fasta
protein	/rhome/cjinfeng/BigData/00.RD/Annotation/HEG4/Maker/bin/HEG4_allpathlgv1/evidence/plant_protein.fa
est	/rhome/cjinfeng/BigData/00.RD/Annotation/HEG4/Maker/bin/HEG4_allpathlgv1/evidence/HEG4.Trinity.3lane.fasta
altest	/rhome/cjinfeng/BigData/00.RD/Annotation/HEG4/Maker/bin/HEG4_allpathlgv1/evidence/rice-cdna.fa
cpus	1
model	Oryza
